.close-button {
    position: relative;
    background-color: #046fb0;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 12px 40px;
    margin: 3px 8px 3px 0px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
}