<div class="container editBook"><br><br>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <h1 class="title">Add new book</h1>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="box"><br>
        <div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="id">Book Name</label><br>
                    <input type="text" class="form-control" formControlName="name" id="name"><br>
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="category">Category</label><br>
                    <input type="text" id="category" class="form-control" formControlName="category"><br>
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label><br>
                        <input type="text" id="description" class="form-control" formControlName="description"><br>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" id="price" class="form-control" formControlName="price"><br>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="onSubmit()">Save</button>
            <button class="btn btn-danger" (click)="onCancel()" type="button">Cancel</button>
        </div>
    </form>
</div>
</div>
</div>
